/* Form Container */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center children horizontally */
  justify-content: flex-start; /* Align children to the start vertically */
  max-width: 450px;
  height: 85vh;
  margin: auto;
  padding: 20px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) -1.92%, rgba(255, 255, 255, 0.63) 36.31%, #FFF 97.88%);
  backdrop-filter: blur(2px);
  border-radius: 32px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.cancel-button-container {
  margin-top: 5px;
  text-align: center;
  border: black;
}

.custom-step-container {
  width: 80%; /* Use 100% of the parent container's width */
  position: relative;
  display: flex;
  justify-content: space-between; /* Spread out the steps evenly */
  align-items: center;
  margin-bottom: 20px;
}
  
  /* Form Field */
  .form-field {
    width: 100%; /* Make form fields full width of the form container */
    margin-bottom: 20px;

  }
  
  .form-field label  {
    font-family: objektiv-mk2;
    display: block;
    margin-bottom: 5px;
    font-weight: normal;
    text-align: left; /* Align the label text to the left */
  }
  
  .form-field ::placeholder{
    font-family: objektiv-mk2;;
  }
  
  .form-field input[type="text"],
  .form-field input[type="number"],
  .ant-picker {
    width: 90%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex-basis: 25%;
    font-size: 16px; /* Prevents zooming on mobile devices */
  }

  /* Styles for textarea */
  .form-field textarea {
    font-size: 16px; /* Prevents zooming on mobile devices */
    /* Add additional styles for textarea here if needed */
  }
  
  /* Text styles */
  .heading-text,
  .body-text {
    width: 100%; /* Full width of the form container */
    align-self: center; /* Center the container itself */
    text-align: left; /* Align the text to the left within the container */
  }
  
  .heading-text {
    color: #000;
    font-family: Gabriela;
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    margin-bottom: 20px; /* Space between heading and the first form field */
  }
  
  .body-text {
    color: var(--Primary, #292929);
    font-family: objektiv-mk2;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 10px; /* Space between the last form field and this text */
    margin-bottom: 10px; /* Space between this text and the next button */
  }

  .input-with-icon .custom-input {
    padding-left: 40px; /* Adds padding to create space for icons */
  }

  .setup-datepicker {
    min-width: var(--select-min-width, 21rem);
    margin-top: 0; /* Space above the heading */
    margin-bottom: 0.313rem;
    padding: 0 0 0 10px;
    width: 102%;
}

.setup-datepicker .ant-picker-suffix {
    position: absolute;
    left: -10px; /* Adjust the spacing to your preference */
    transition: all 0.3s; /* Optional: for smooth icon transition */
}

.setup-datepicker .ant-picker-suffix svg {
    fill: #333; /* This is a dark gray, but you can choose any color you wish */
}

.setup-datepicker .ant-picker-input > input {
    padding: 20px 20px 20px 40px;
    font-size: 16px;
}


.input-with-icon {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  height: 30px; /* Adjust size as needed */
  pointer-events: none;
}

/* Styles for the icons */
.input-with-icon .input-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  height: 30px; /* Adjust as per the size of your icons */
  pointer-events: none; /* Ensures the icon doesn't interfere with input clicking */
}

.special-field {
  width: 95%;
}

.special-field .input-icon {
  /* Adjust as per the size of your icons */
  height: 30px;  
}


.form-container .special-field .custom-input,
.form-container .special-field .ant-picker input {
    padding-left: 50px;
}