.contact-page-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-page-container {
  background: rgba(255, 255, 255, 0.90);
  width: 100vw; /* 450px / 16px */
  height: 20rem; /* 320px / 16px */
  border-radius: 0 0 2rem 2rem; /* 32px / 16px */
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 1.25rem; /* 20px / 16px */
  flex-direction: column;
  overflow: hidden;
}

.card-message {
  text-align: center;
  margin-top: 5rem; /* 80px / 16px */
  color: var(--Primary, #292929);
  font-family: objektiv-mk2;
  font-size: 1rem; /* 16px / 16px */
  line-height: 1.25rem; /* 20px / 16px */
}

.card-wrapper {
  margin-top: 4.375rem; /* 70px / 16px */
}

.profile-box {
  width: 18.75rem; /* 300px / 16px */
  margin: 18.75rem 0; /* 300px / 16px */
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  padding: 0.5rem 1rem; /* 8px and 16px / 16px */
  justify-content: space-between;
  align-items: center;
  border-radius: 0.25rem; /* 4px / 16px */
  border: 1px solid var(--Outline, rgba(255, 255, 255, 0.00));
  background: var(--StepBG, #FFF);
  margin-top: 25rem; /* 400px / 16px */
}

.profile-content {
  display: flex;  
}

.profile-text {
  text-align: left;
  margin-right: 1.5625rem; /* 25px / 16px */
}

.profile-text h2, .profile-text p {
  color: var(--PrimaryText, #292929);
  font-family: objektiv-mk2, sans-serif;
  font-size: 1rem; /* 16px / 16px */
  line-height: 1.25rem; /* 20px / 16px */
  margin: 0;
  padding: 0;
}

.profile-text h2 {
  font-weight: 700;
}

.profile-text p {
  font-weight: 400;
}

.profile-loader {
  display: flex;
  align-items: center;
}

.loader-icon {
  width: 1.5rem; /* 24px / 16px */
  height: 1.5rem; /* 24px / 16px */
  border-radius: 50%;
  border: 0.1875rem solid #ccc; /* 3px / 16px */
  border-top-color: #5E4DB2;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.profile-bottom-page-container {
  background: rgba(255, 255, 255, 0.90);
  width: 100vw; /* 450px / 16px */
  height: 15.625rem; /* 250px / 16px */
  border-radius: 2rem 2rem 0 0; /* 32px / 16px */
  box-shadow: 0 -0.125rem 0.5rem rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.profile-unlock-text {
  color: var(--Primary, #292929);
  font-family: objektiv-mk2, sans-serif;
  font-size: 1rem; /* 16px / 16px */
  line-height: 1.25rem; /* 20px / 16px */
  margin: 0;
  padding: 0;
}

/* iPhone X, XS, 11 Pro, 12 Mini, 13 Mini (375px) */
@media only screen and (max-width: 375px) {
  .top-page-container,
  .bottom-page-container {
    width: 100vw; /* Adjust width for smaller screens */
  }
  
  .top-page-container {
    height: 15.625rem; /* 250px / 16px */
  }

  .card-message {
    margin-top: 2.5rem; /* 40px / 16px */
    margin-bottom: 0;
  }

  .profile-unlock-text {
    font-size: 0.875rem; /* Reduce font size for smaller screens */
  }

  .profile-box {
    width: 75vw; 
    margin-top: 25rem; 
  }

  .profile-bottom-page-container {     
    height: 11rem; /* 250px / 16px */
    display: flex;
    flex-direction: column;
  }
  
  
  .profile-unlock-text {
    color: var(--Primary, #292929);
    font-family: objektiv-mk2, sans-serif;
    font-size: 1rem; /* 16px / 16px */
    line-height: 1.25rem; /* 20px / 16px */
    padding: 0;
    margin-top: -2rem;
  }
  
  
  .profile-text h2, .profile-text p {
    margin-right: 1rem; 
    text-align: left;
    color: var(--PrimaryText, #292929);
    font-family: objektiv-mk2, sans-serif;
    font-size: 0.9rem; /* 16px / 16px */
    line-height: 1.25rem; /* 20px / 16px */
    margin: 0;
    padding: 0;
  }
  
  .profile-text h2 {
    font-weight: 700;
  }
  
  .profile-text p {
    font-weight: 400;
  }
}
