.custom{
    color: #6E5DC6;
}

.menu-font{
    color: #000;
    text-align: right;
    /* San Serif/Headings/H300 Regular */
    font-family: Objektiv VF;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 130% */
    letter-spacing: 0.04px;
}